<footer class="footer">
  <div class="footer__wrap">
    <div class="tile-dark footer__tile">
      <div class="footer__content">
        <h2 class="footer__title title">Restons connectés</h2>

        <p class="footer__text texts">
          Que ce soit pour vos projets, vos idées ou simplement pour discuter créativité,
          <br class="test"/>je serai toujours heureuse d’échanger et de co-créer avec vous.
        </p>

        <div class="footer__cta">
          <a class="btn btn--ghost txtbtn" [href]="mailtoHref" >Contactez-moi</a>
        </div>

        <div class="footer__bottom">
          <p class="footer__small texts">©2025 Amel Merzouk - Tous droits réservés</p>

          <div class="footer__icons" aria-label="Réseaux et contact">
                        <a class="footer__icon"  [href]="mailtoHref" aria-label="Email">
                <span class="footer__icon-svg footer__icon-svg--mail" aria-hidden="true"></span>
            </a>
            <a class="footer__icon" target="_blank" href="https://www.linkedin.com/in/amel-merzouk-b73103193/" aria-label="Linkedin">
             <span class="footer__icon-svg footer__icon-svg--linkedin" aria-hidden="true"></span>
            </a>

            <a class="footer__icon" target="_blank" href="https://www.instagram.com/mzk_stud.io" aria-label="Instagram">
             <span class="footer__icon-svg footer__icon-svg--insta" aria-hidden="true"></span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
