@if (project) {
  @if (project.headerUrl) {
    <div class="project-page__header">
      @if (project.headerUrl.includes('youtube.com') || project.headerUrl.includes('youtu.be')) {
        <iframe
          class="project-page__header-video"
           [attr.data-key]="project.token"
          [src]="youtubeHeader(project.headerUrl)"
          title="Project header video"
          loading="lazy"
          referrerpolicy="strict-origin-when-cross-origin"
          allow="autoplay; encrypted-media; picture-in-picture"
          allowfullscreen
        ></iframe>
      } @else {
        <video
          class="project-page__header-video"
          [src]="project.headerUrl"
          autoplay
          muted
          loop
          playsinline
          [muted]="true"
        ></video>
      }
    </div>
  }
     <div class="project-page__head">
      <h1 class="project-page__title">{{ project.title || project.name }}</h1>
      @if (project.description) {
        <p class="project-page__description">
          {{ project.description }}
        </p>
      }
    </div>


  <div class="container2">
    <app-composition
      [token]="project.token"
      [composition]="project.composition"
      [media]="project.compositionMedia"
    ></app-composition>
  </div>

  <div class="container">
    <app-projects-carousel></app-projects-carousel>
  </div>
}
