@if (project) {
  @if (project.headerUrl) {
    <div class="project-page__header">
  <div class="project-page__ratio">
    <video class="project-page__header-video"
      [src]="project.headerUrl"
      autoplay muted loop playsinline preload="auto" [muted]="true">
    </video>
  </div>
    </div>
  }

  <div class="project-page__head">
    <h1 class="project-page__title title">{{ project.title || project.name }}</h1>

    @if (project.description) {
      <p class="project-page__description texts">
        {{ project.description }}
      </p>
    }
  </div>

  <div class="container2">
    <app-composition
      [token]="project.token"
      [composition]="project.composition"
      [media]="project.compositionMedia"
      
    ></app-composition>
  </div>

  <div class="container">
    <app-projects-carousel></app-projects-carousel>
  </div>
}
